<header class="sticky-top" id="header">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">MY<span class="logo_profile">PROFILE</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="#home">Home</a>
            <a class="nav-item nav-link" href="#about">About</a>
            <a class="nav-item nav-link" href="#features">Features</a>
            <a class="nav-item nav-link" href="#skills">Skills</a>
            <a class="nav-item nav-link" href="#projects">Projects</a>
            <a class="nav-item nav-link" href="#contact">Contact</a>
          </div>
        </div>
      </nav>
  </div>
</header>

<section id="home" class="section1">
  <div class="container">
    <p class="para-first text-center"><span class="inner-para">Simplicity</span> is the soul of Efficiency.</p>
    <p class="para-second inner-para text-center">Front-end Developer</p>
    <p class="para-third text-center">I design and code beautifully simple things, and I love what I do.</p>
    <div class="text-center">
      <img src="./assets/nisha_profile.jpg" class="img_profile">
    </div>
    </div>
</section>

<section  style="background-color: #f7f7f7;">
  <div class="text-center sectionimg" >
    <img src="./assets/set-digital.jpg"> 
  </div>
</section>


<section class="sec-fourth section2" id="about">
  <div class="container">
    <div class="details-1">
      <p class="text-center hello-details same-head">Hiii..! I’m Nisha. Nice to meet you.</p>
      <p class="details-about">A Frontend Web Developer And Upcoming Mean Stack / Full Stack
         Web Developer. Skilled in HTML5, CSS3, Bootstrap, JavaScript, JQuery, AngularJS (Beginner), 
        Angular8 (Intermediate), NodeJS (Beginner), Java (Intermediate), PHP, WordPress, Joomla, Laravel, MYSQL, Android.
        Strong Information Technology professional post graduated from Medicaps University. 
        The only thing I want to be associated with an organization that provides an 
        opportunity for a challenging where I can utilize my Knowledge,Skills and Potential for profession.
        I would also like to make positive contribution towards the organization through promoting
        team spirit and professional growth of the self.
        Interested in taking innitiative. Before that Please explore my website.
      </p>
    </div>
  </div>
</section>

<section id="features" class="section3">
  <div class="container">
    <p class="text-center technical-tools same-head">Technical Tools</p>
    <p class="subtitle-para p-2">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
    <div class="row">
          <div class="col-md-4 col-sm-12 col-lg-4">
            <figure class="image text-center"><img class="is-skill-icon" src="./assets/images.png"></figure>
            <h6 class="title is-size-4 is-spaced">Front-end Development</h6>
            <ul class="text-center ul-li-list">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>JQuery</li>
              <li>Angular</li>
              <li>Bootstrap</li>
              <li>AngularJS</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 col-lg-4">
            <figure class="image text-center"><img class="is-skill-icon" src="./assets/images1.png"></figure>
            <h6 class="title is-size-4 is-spaced">Back-end Development</h6>
            <ul class="text-center ul-li-list">
              <li>Laravel</li>
              <li>NodeJS</li>
              <li>Java</li>
              <li>MySQL</li>
              <li>Javascript</li>
              <li>PHP</li>
              <li>SpringBoot</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 col-lg-4">
            <figure class="image text-center"><img class="is-skill-icon" src="./assets/ide.jpg"></figure>
            <h6 class="title is-size-4 is-spaced">IDE Tools</h6>
            <ul class="text-center ul-li-list">
              <li>Eclipse</li>
              <li>NetBeans</li>
              <li>Sublime</li>
              <li>VS code</li>
              <li>SQLyog</li>
              <li>Android Studio</li>
              <li>SpringToolSuite4</li>
            </ul>
          </div>
    </div>
  </div>
</section>

<section id="skills" class="section4">
  <div class="container">
    <p class="text-center skills-rating same-head">Skills</p>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-lg-6">
        <div>
          <label>HTML5</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">95%</div>
          </div>
        </div>
        <div>
          <label>CSS3</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
          </div>
        </div>
        <div>
          <label>Bootstrap</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
          </div>
        </div>
        <div>
          <label>JQuery</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
          </div>
        </div>
        <div>
          <label>Javascript</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
          </div>
        </div>
        <div>
          <label>AngularJS</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
        </div>
        <div>
          <label>Android</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
        </div>
        <div>
          <label>NodeJS</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6">
        <div>
          <label>Angular</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
          </div>
        </div>
        <div>
          <label>Laravel</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
          </div>
        </div>
        <div>
          <label>MySQL</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
          </div>
        </div>
        <div>
          <label>PHP</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
        </div>
        <div>
          <label>Joomla (CMS)</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
          </div>
        </div>
        <div>
          <label>WordPress</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
        </div>
        <div>
          <label>Core Java</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
          </div>
        </div>
        <div>
          <label>SpringBoot</label>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">65%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section5" id="projects" style="border: none !important;background-color: #f7f7f7;">
  <div class="container">
    <p class="text-center same-head">My Projects</p>
    <p class="text-center project-design">Here are a few design projects I've worked on recently.
      Want to see more?
      <a href="mailto:nishadhere12@gmail.com" style="color: #bb141a;">Email me..</a>
    </p>
    <div class="row text-center" >
      <div class="col-sm-12 col-md-3 col-lg-3 p-5">
        <h4 class="inner-head">Corona Tracker</h4>
        <p class="py-4 project-design">A flood of coronavirus apps are tracking us.
          Now it’s time to keep track of them.
        </p>
        <a href="https://nish124.github.io/coronaTracker/" class="project_link">github.io/coronaTracker/</a>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 p-5">
        <h4 class="inner-head">My Profile</h4>
        <p class="py-4 project-design">A collaborative tool for creating simple, 
          effective website for design projects.
        </p>
        <a href="https://nish124.github.io/profile/" class="project_link">github.io/profile/</a>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 p-5">
        <h4 class="inner-head">Tik Tak Toe</h4>
        <p class="py-4 project-design">No need waste paper to play puzzle games!
           Now you can play Tic Tac Toe on your device for free.
        </p>
        <a href="https://nish124.github.io/tiktoktoe/" class="project_link">github.io/tiktoktoe/</a>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 p-5">
        <h4 class="inner-head">Time Converter</h4>
        <p class="py-4 project-design">Time Conversion using momentJS. Convert Mintues in to Hours and Second in to Minutes.
        </p>
        <a href="https://nish124.github.io/timeconversionApp/" class="project_link">github.io/timeconversion/</a>
      </div>
    </div>

    <div class="pt-5 pb-3 text-center">
      <a href="https://github.com/nish124" class="px-4 py-2 buttons-project"><i class="fa fa-github pr-2"></i>See more on Github.</a>
    </div>
  </div>
</section>


<!-- <section class="section6">
  <div class="container">
    <h4 class="same-head text-center">My Projects</h4>
    <div style="display: flex;align-items: center;justify-content: center;">
      <p class="text-center myProject">I'm a bit of a digital product junky. Over the years,
        I've used hundreds of web and mobile apps in different industries and verticals.
          Eventually, I decided that it would be a fun challenge 
          to try designing and building my own.
      </p>
    </div>
    <div class="row text-center projects-data">
      <div class="contain col-sm-12 col-md-4 col-lg-4 p-5">
        <img src="./assets/corona.jpg" alt="Avatar" class="pro-image mx-auto">
        <div class="middle-content">
          <h4>Corona Tracker</h4>
        </div>
        <div class="middle text-center">
          <h4 class="inner-head">Corona Tracker</h4>
          <p class="py-4 project-design">A flood of coronavirus apps are tracking us.
            Now it’s time to keep track of them.
          </p>
          <a href="https://nish124.github.io/coronaTracker/" class="project_link">github.io/coronaTracker/</a>
        </div>
      </div>
      <div class="contain col-sm-12 col-md-4 col-lg-4 p-5">
        <img src="./assets/nisha_profile.jpg" alt="Avatar" class="pro-image mx-auto">
        <div class="middle text-center">
          <h4 class="inner-head">My Profile</h4>
          <p class="py-4 project-design">A collaborative tool for creating simple, 
            effective website for design projects.
          </p>
          <a href="https://nish124.github.io/profile/" class="project_link">github.io/profile/</a>
        </div>
      </div>
      <div class="contain col-sm-12 col-md-4 col-lg-4 p-5">
        <img src="./assets/game.png" alt="Avatar" class="pro-image mx-auto">
        <div class="middle text-center">
          <h4 class="inner-head">Tik Tak Toe</h4>
          <p class="py-4 project-design">No need waste paper to play puzzle games!
             Now you can play Tic Tac Toe on your device for free.
          </p>
          <a href="https://nish124.github.io/tiktoktoe/" class="project_link">github.io/tiktoktoe/</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="section7">
  <div class="container text-center">
    <p class="same-head">Interested in collaborating or investing?</p>
    <p class="interest-part">I’m always open to discussing product design work or partnership opportunities.</p>
    <div class="pt-5 pb-5">
    <a class="px-4 py-2 buttons-project say-hello" href="#" data-toggle="modal" data-target="#myModal">Start a conversation</a>
    </div>
  </div>
</section>

<section class="section8">
  <div class="container">
    <h4 class="text-center same-head">Testimonials</h4>
    <p class="text-center pb-4 project-design">People I've worked with have said some nice things.....</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item text-center active">
          <div class="text-center">
            <img src="./assets/testimonial1.jpg" class="img_profile">
          </div>
          <div style="display: flex;align-items: center;justify-content: center;">
            <div class="description p-5">“Nisha was a real pleasure to work with and we look 
              forward to working with her again.
              She’s definitely the kind of Front-end Developer you can
                trust with a project from start to finish.”
            </div>
          </div>
          <h5 style="font-weight: 600;color: #bb141a;">Chirag Jain</h5>
          <p class="designation">Creative Lead,Mean Stack Developer, Good Kind</p>
        </div>
        <div class="carousel-item text-center">
          <div class="text-center">
            <img src="./assets/testimonial2.jpg" class="img_profile">
          </div>
          <div style="display: flex;align-items: center;justify-content: center;">
            <div class="description p-5">“Nisha's a clear communicator with the tenacity and confidence
            to really dig in to tricky design scenarios and the collaborative
              friction that's needed to produce excellent work.”
            </div>
          </div>
          <h5 style="font-weight: 600;color: #bb141a;">Neha Sonare</h5>
          <p class="designation">Assistant System Engineer</p>
        </div>
      </div>
      <ol class="carousel-indicators pt-4 pb-4">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
    </div>
</div>
</section>

<section class="section9">
  <div class="container" style="background-color: #bb141a;color: white;">
    <div class="row px-3 py-5">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4 class="text-center startproject">Start a project</h4>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <p class="text-center project-design" >Interested in working together?
           We should queue up a chat.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 text-center" >
        <a href="https://www.linkedin.com/in/nisha-dhere-90832b140/" 
        style="background-color:white;color: #bb141a ;" class="px-4 py-2 letsdoIt col-sm-10 col-lg-10">Let's do this</a>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section10">
<footer class="section is-small has-text-centered">
    <p class="same-head text-center pl-1 pr-1">Living, Learning, &amp; Leveling up</p>
    <p class="same-head text-center">one day at a time.</p>
      <div class="social-btns pt-5">
        <a class="btn" href="https://www.facebook.com/profile.php?id=100009354272810"><i class="fa fa-facebook"></i></a>
        <a class="btn" href="https://github.com/nish124"><i class="fa fa-github"></i></a>
        <a class="btn" href = "mailto: nishadhere12@gmail.com"><i class="fa fa-google"></i></a>
        <a class="btn" href="https://www.instagram.com/nisha1204_/"><i class="fa fa-instagram"></i></a>
        <a class="btn" href="https://www.linkedin.com/in/nisha-dhere-90832b140/"><i class="fa fa-linkedin"></i></a>
        <a class="btn" href="live:53d4e199be1d2060"><i class="fa fa-skype"></i></a>
      </div>
</footer>
</section>

<section class="section11">
    <div class="copy p-3">
      <hr>        
        <p class="text-center">
        Copyright &copy;
        2020 All rights reserved | Created by <a
          href="https://www.linkedin.com/in/nisha-dhere-90832b140/" class="name_copy">Nisha Dhere</a>
        </p>
    </div>
</section>

<section>
  <div class="container">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content p-3">
          <div class="modal-header" style="border-bottom:none !important;">
            <p class="text-center modal-heading">Thanks for taking the time to reach out. How can I help you today?</p>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="form-group">
                <label for="fname">Fullname</label>
                <div>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <div>
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="comment">Message</label>
                <div>
                  <textarea class="form-control" rows="3" id="message"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <button type="submit" class="btn btn-sub-modal pr-5 pl-5">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>


<router-outlet></router-outlet>